{% extends "base.html" %}

{% block header %}
 List 
{% endblock header %}
{% block content %}
<div class= "raw">
	{% for car in cars %}
	<div class = "col-12">
		<a href="{{car.get_absolute_url}}"> <!-- to get the button that take you from list to detail page -->
	<div class="card" style="width: 18rem;">
	{% if car.car_img %}
		<img src="{{car.car_img.url}}" class="card-img-top" alt="car image">
		{% endif %}
	<div class="card-body">
	<h5 class="card-title">{{car.make}}</h5>
	<p class="card-text">{{car.model}}</p>
	<p class="card-text">{{car.year}}</p>
	</div>
	</div>
</a>

	</div>
	{% endfor %}
</div>
{% endblock content %}
